{{> head }}
<body>
  {{> navbar}}
<div class="row">
    <div class="col s12" style="display: flex;">
        <div class="pan1">
            <p>
                Добиваются успеха лишь те, кто всегда стремится помогать другим. Те, кто ищет лишь свою выгоду, обречены на поражение.
            </p>
        </div>
        <div id="resize" class="ui-widget ui-corner-all ui-state-error" style="width: 10px; background-color: silver"></div>
        <div class="pan2">
            <p>
                Текст для примера:
            </p>
            <br>
            <p>
                Добиваются успеха лишь те, кто всегда стремится помогать другим. Те, кто ищет лишь свою выгоду, обречены на поражение.
            </p>
            <div id="debug"></div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>