{{> head }}
<body>
  {{> navbar}}
<div class="row no-gutters">
    <div class="col s12" style="padding: unset">
        <div class="pan1">

                {{{ body }}}

            <div id="resize"></div>
        </div>
        <div class="pan2">
            <nav style="">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><button class="btn waves-effect waves-light" type="submit" name="action">Clear</button></li>
                    </ul>
                </div>
            </nav>
            <div style="margin-left: 10px">
                <h2>
                    Текст для примера:
                </H2>
                <br>
                <h3>
                    Добиваются успеха лишь те, кто всегда стремится помогать другим. Те, кто ищет лишь свою выгоду, обречены на поражение.
                </h3>
                <div id="debug"></div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>