{{> head }}
<body>
  {{> navbar}}
<div class="row no-gutters">
    <div class="col s12" style="padding: unset">
        <div class="pan1">

                {{{ body }}}

            <div id="resize"></div>
        </div>
        <div class="pan2">
            <nav style="">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><button id="code_clear" class="btn waves-effect waves-light" type="submit" name="action">Clear</button></li>
                    </ul>
                </div>
            </nav>
            <div style="margin-left: 10px;">
                <pre id="code_textarea1_result" style="overflow: auto; height: 80vh;"></pre>
                <div id="debug"></div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>